h1 {
  font-family: arial, verdana, sans-serif;
  text-align: center;
  outline: #3aa2bb solid 10px;
}
p {
  font-family: arial, verdana, sans-serif;
}
#lnk {
  font-family: arial, verdana, sans-serif;
  text-align: center;
  color: red;
  border: 5px solid blue;
  background-color: lightgray;
}
