h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    outline: #a2a2a2 solid 10px;
    margin: 10px;
    background-color: #c5c5c5;
    border-radius: 5px;
  }
  a {
    font-family: Arial, Helvetica, sans-serif;
  }
  .MainLinks {
    text-align: left;
    outline: #3aa2bb solid 3px;
    border-radius: 2px;
  }
  .OtherLinks {
    text-align: left;
    outline: #FF7F50 solid 3px;
    border-radius: 2px;
  }
  .HDR {
    outline: #ff7676 solid 3px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
  }
  .Games {
    outline: #4cd3f5 solid 3px;
    border-radius: 2px;
  }
  
