h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  outline: #3aa2bb solid 10px;
  animation-name: title;
  animation-duration: 1.5s;
}
a {
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes title {
  0%{top: 0px;}
  100%{top: 10px;}
}
.MainLinks {
  text-align: left;
  outline: #3aa2bb solid 3px;
}
.OtherLinks {
  text-align: left;
  outline: #FF7F50 solid 3px;
}
.HDR {
  outline: #000 solid 3px;
  font-family: Arial, Helvetica, sans-serif;
}
.Games {
  outline: #3aa2bb solid 3px;
}
