.Compare {
text-align: center;
border: #50C878 solid 3px;
font-family: arial arial sans-serif;
}
h1 {
  text-align: center;
  font-family: arial arial sans-serif;
}
p {
  font-family: arial arial sans-serif;
}
